.principal{
    width: 600px;
    margin-right:auto;
    position: relative;
    color: #fff;
}

.principal img{

    width: 115%;
    height: 400px;

}

.textocentro{

position: absolute;
top: 30%;
left: 45%;
transition: translate(-50%,-50%);
text-align: center;
font-size: 50px;
background-color: rgba(255, 0, 0, 0);
opacity: 0.9;
    
}

.one{

  border: 0px solid rgb(255, 0, 0,0);
  background-color: rgb(255,0,0,0);
  opacity: 0.9;
  text-align: justify;
  padding: 5px;
  margin: 40px;
  margin-bottom: 5px;
  width: 550px;
  height: 150px;

}

.two img{  
    margin-left: 8em ;
    margin-top: -400px;
    margin-bottom: 0px;
    width: 350px;
    height: 90px;

}


.three{

    border: 0px solid rgb(255, 0, 0,0);
    background-color: rgb(255,0,0,0);
    opacity: 0.9;
    text-align: left;
    padding: 5px;
    margin: 40px;
    width: 550px;
    height: 150px;
  
  }




  .four img{  
    margin-left: 8em ;
    margin-top: 100px;
    width: 350px;
    height: 90px;
    margin-top: 100px;
    margin-bottom: 0px;

}



.five{

    border: 0px solid rgb(255, 0, 0,0);
    background-color: rgb(255,0,0,0);
    opacity: 0.9;
    text-align: auto;
    padding: 5px;
    margin: 40px;
    margin-bottom: 150px;
    width: 600px;
    height: 150px;
  
  }

  hr {

    width: 600px;
    margin-right:auto;
    margin-top: 200px;
    margin: 40px;
    position: absolute;
    color: #fff;
}
  



